[Unit]
Description=kubenetes kubelet Server
After=network.target

[Service]
Type=simple
ExecStart=/root/go/src/k8s.io/kubernetes/cmd/kubelet/kubelet.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
