[Unit]
Description=kubenetes api Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/flanneld --etcd-endpoints="http://172.31.71.181:2379" --ip-masq=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
