[Unit]
Description=kubenetes proxy Server
After=network.target

[Service]
Type=simple
ExecStart=/root/go/src/k8s.io/kubernetes/cmd/kube-proxy/kube-proxy.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
